<%= form_for(@informacao) do |f| %>
  <% if @informacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@informacao.errors.count, "error") %> prohibited this informacao from being saved:</h2>

      <ul>
      <% @informacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
