<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo medicamento:</strong>
  <%= @tipo_medicamento.tipo_medicamento %>
</p>

<%= link_to 'Edit', edit_tipo_medicamento_path(@tipo_medicamento) %> |
<%= link_to 'Back', tipo_medicamentos_path %>
