<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo vacina:</strong>
  <%= @tipo_vacina.tipo_vacina %>
</p>

<%= link_to 'Edit', edit_tipo_vacina_path(@tipo_vacina) %> |
<%= link_to 'Back', tipo_vacinas_path %>
