<p id="notice"><%= notice %></p>

<p>
  <strong>Classificao:</strong>
  <%= @classificacao.classificacao %>
</p>

<%= link_to 'Edit', edit_classificacao_path(@classificacao) %> |
<%= link_to 'Back', classificacoes_path %>
