<div id='cssmenu'>
	<ul>
   		<li class='active'><a href='#'><span>Principal</span></a></li>
   		<li class='has-sub'><a href='#'><span>Cadastros</span></a>
      		<ul>
         		<li><a href='#'><span>Animais</span></a></li>
         		<li><a href='#'><span>Exames</span></a></li>
         		<li class='last'><a href='#'><span>Medicamentos</span></a></li>
      		</ul>
   		</li>
   		<li class='has-sub'><a href='#'><span>Relatorios</span></a>
      		<ul>
         		<li><a href='#'><span>Animais</span></a></li>
         		<li><a href='#'><span>Exames</span></a></li>
         		<li class='last'><a href='#'><span>Medicamentos</span></a></li>
      		</ul>
   		</li>
   		<li class='last'><a href='#'><span>Opções</span></a></li>
	</ul>
</div>