<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo exame:</strong>
  <%= @tipo_exame.tipo_exame %>
</p>

<%= link_to 'Editar', edit_tipo_exame_path(@tipo_exame) %> |
<%= link_to 'Voltar', new_exame_path %>
